:root {
    --yasil: #54d154;
}
header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 100vh;
        background: url('../img/headerbg.webp') center / cover;
        padding: 12px;
        
}
#menu li a{
    font: bold 1em 'Proxima Nova', sans-serif;
    color: #fff;
    padding: 5px 0;

}
h1 {
    font: bold 2em 'Montserrat';
    color: #fff;
    text-transform: capitalize;
    padding: 28px;
}
h2 {
    font: 1.25em 'Montserrat';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #828181;
    padding: 30px;
}
h3 {
    font: bold 1.5em 'Proxima Nova';
    color: #828181;
    padding: 7px;
}
h6 {
    font: 1em 'Myriad Pro';
    color: #b7b3b3;
}
h5 {
    font: 1em "Montserrat";
    color: #101010;
}
main >  section hr {
    width: 43px; 
    margin: 10px auto;
    border: none;
    border-top: 2px solid #818181;
    
}
.bgyasil h2 { color: #207b20 }
.bgyasil h6 { color: #2b9b2b }
.bgyasil hr { color: #1f7b1f }

#search{
    display: flex;
    height: 40px;
}
#search input , #search button {
    background: #ffffffcc;
    border: none;
    outline: none;
    font: 1em 'Myriad Pro', sans-serif;
    color: #111;
    padding: 6px 10px;
}
#search input {
    border-radius:1em 0 0 1em ;
}
#search button {
    border-radius:0 1em 1em 0 ;
}
#search button img { height:1em ;}
#title button {
    padding: 15px 35px;
    border-radius: 23px;
    background-color: #53d153;
    color: white;
    text-transform: uppercase;
    border: none;
}
#scroll {
    opacity: 0.702;
    border-radius: 13px;
    background-color: #fff;
    color: black;
    padding: 8px 15px;
}
.bgag { background-color: #fff; padding: 0;}
.bgyasil { background-color: var(--yasil); padding: 0;}
.bgboz { background-color: #f1f1f1; }
.bgboz1 { background-color: #333; }

main > section { padding: 36px 0; text-align: center;}

#col3 { padding: 55px 0; }
#col3 article {
    text-align: center;
    padding: 15px;
}
.icon3 {
    width: 142px;
    height: 142px;
    border-radius: 28px;
    background: #e0f3e0;
    display: flex;
    margin: auto
}
.icon3 i { 
    font-size: 3em;
    color: var(--yasil);
    margin: auto;
}
.article p {
    font: 15px "Montserrat";
    color: #828181;
    font-weight: 300;
    
    
    }
.btn2 {
    font: bold 1em "Proxima Nova";
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 11px;
    background-color: #53d153;
    
    
} 

#btn4 { display: flex; justify-content: center; padding: 57px 0}
#btn4 button {
    border: 1px solid #2b9b2b;
    padding: 6px 16px;
    font: 1em 'Proxima Nova';
    background: #fff;
}
#btn4 button:first-child { border-radius: 18px 0 0 18px; }
#btn4 button:last-child { border-radius: 0 18px 18px 0; }
#btn4 button.active, #btn4 button:hover { background: #2b9b2b; color: #fff } 

#images img { 
    height: 50vh;
    width: 100%;
    object-fit: cover;
    padding: 15px;
}
#images1 img {
    width: 53px;
    height: 53px;
    border-radius: 4px;
    
}
.icon5 {
    width: 85px;
    height: 30px;
    background: #c5e9c5;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 12px;
    
}
.icon5 i {
    padding: 3px;
}
.container {
    max-width: 878px;
    margin: auto;
   
    
}
#img3 img {
    object-fit: cover;
    padding: 20px;
    border-radius: 100px;
}
 #img3 hr {
    width: 2px;
    height: 77px;
    background-color: #1f7b1f;
}
#img3 {
    display: flex;
    flex-direction: column;

}
#img3 p {
    font: 16px "Proxima Nova";
    color: #fff;
    
}
#logos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lorem {
    font: 1em "Proxima Nova";
    color: #444;
    padding: 72px;
    margin: auto;
}
.mr .herp {
    font: 1em "Proxima Nova";
    color: #444;
    
    
}
#more {
    font: 1.1em "Proxima Nova";
    color: white;
    background: #2b9b2b;
    padding: 10px 17px;
    border-radius: 20px;
    border: none;
    margin: 40px 0 15px 0;
}
#testimonial {
    display: flex;
    justify-content: space-between;
    max-width: 755px;
    margin: auto;
    padding: 65px 0 17px 0;
    justify-content: center;
    align-items: center;
}
#testimonial i {
    color: #dfdfdf;
    font-size: 1.7em;
    height: 10px;
}
#testimonial p {
    padding: 10px;
}
#Ceo {
    display: flex;
    justify-content: center;
}
#Ceo i {
    font-size: 2em;
    color: #dfdfdf;
}
#Ceo p.herp {
    font: 1em "Proxima Nova";
    color: #444;
    text-align: left;
}
#Ceo p {
    font:  bold 1em "Proxima Nova";
    color: #ccc;
}
#main2 button {
    padding: 12px 24px;
    font-size: 1.4em;
    margin-top: 34px;
    margin-bottom: 30px;
    border-radius: 20px;
    font: 19px "Proxima Nova";
    color: #fff;
    background: #53d153;
    text-transform: uppercase;
    border: none;
    
}
#client  {
    opacity: 0.702;
    border-radius: 13px;
    border: none;
    background-color: #dddcdc;
    color: #a59d9d;
    padding: 10px 17px;
    margin: 10px 0 15px 0;
    
}
.bgboz {
    padding: 0;
}

footer > section { padding: 36px 0; text-align: center;}
.about {
    font: 1em "Montserrat";
    letter-spacing: 3px;
    color: #ddd;
    font-weight: 300;
    text-transform: uppercase;
    padding: 16px 34px;
}
.lorem4 {
    font: 1em "Proxima Nova";
    color: #ccc;
    margin: auto;
    padding: 0 29px;
    margin: auto;
    
    
}
#col3 p { margin-top: 10px; }
footer >  section hr {
    width: 10px; 
    margin: 10px auto;
    border: none;
    border-top: 2px solid #818181;
    
}


.img1 {
    width: 150px;
    height: 70px;
    display: flex;
    
}
.img3 {
    border-radius: 62px;
    margin-top: 40px;
    
}
#main2 {
   background: #3eba3e;
   
}


 #ft {
    background: #333;
}
.container {
    max-width: 1170px;
    margin: auto;
    
}

.col h5 {
    font: 1em "Montserrat";
    letter-spacing: 3px;
    color: #ddd;
    text-transform: uppercase;
    padding: 20px;
   
    
}
.col hr {
    width: 30px;
    background-color: #444;
    
    
}
.col p {
    font: 1em "Proxima Nova";
    color: #ccc;
    margin-top: 15px;
    margin: auto;
    text-align: center;
}
.col h5 {
    font: 1em "Montserrat";
    letter-spacing: 3px;
    color: #ddd;
    text-transform: uppercase;
    padding: 20px;
}
.col hr {
    width: 30px;
    background-color: #444;
}
.icon6 {
    width: 85px;
    height: 30px;
    background: #e6e7e6;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    
}
.icon6 i {
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.post img {
    width: 53px;
    height: 53px;
    margin: 5px;
}
.post {
    display: flex;
    padding: 5px;
    
}
.post p {
    font: 1em "Montserrat";
    color: #ccc;
    padding: 5px;
}
#hr {
    margin: auto;
    text-align: center;
}
#hr hr {
    margin: auto;
    text-align: center;
}
.second {
    font: 12px "Montserrat";
    color: #fff;
    padding: 3px 5px;
    display: inline-block;
}
#mag {
    background: #53d153;
}
#ul {
    background: #ffba00;
}
#photo {
    background: #089cea;
}
#book {
    background: #f34c03;
}
.col h5{
    font: 1em "Montserrat";
    color: #ddd;
    margin-top: 20px;
    text-transform: uppercase;
}
.col hr {
    width: 30px;
    background-color: #444;
    
}
.col p {
    font: 14px "Proxima Nova";
    color: #ccc;
    margin: auto;
    text-align: center;
    
}
#hr {
    margin: auto;
    text-align: center;
}
#input {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
#send {
    background: #2b9b2b;
    color: #ffff;
    text-transform: uppercase;
    border: none;
    padding: 5px;
}
#input1, #input2, #input3{
    background: #444;
    margin: 2px;
    border: none;
}

#ft2 {
    background: #212121;
    padding-top: 25px;
}
#ft2 h5 {
    padding-bottom: 5px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
  

#ft2 hr {
    border: none;
    border-top: 2px solid #0f0f0f;
    width: 30px;
    margin: auto;
}
.ft2 {
    padding: 24px 0 13px 0;
}

#ft2 p {
    font: 1em "Montserrat";
    color: #fff;
    text-align: center;
    background: #111;
    padding: 11px 0 9px 0;
}
@media only screen and (min-width: 768px) {
    
    h1 { font-size: 3.4em; }
    nav {
        display: flex;
        width: 100%;
        justify-content: space-between; 
    }
    
    #menu {
        order:-1;
        display: flex;
        margin: -2px;
    }
    #menu li {
        padding: 0 12px;
    }
    #menu li a.active, #menu li a:hover {
        border-top: 5px solid var(--yasil);
    }
    #title button {
        padding: 14px 24px;
        font-size: 1.4em;
    }
    #col3 p { margin-top: 20px; }
    #col3 { display: flex; justify-content: center;}
    #col3 article { max-width: 350px;}
    #col4 { display: flex; justify-content: center;}
    #col4 article { max-width: 350px;}
    #images { 
        max-width: 1000px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 
    .img {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: auto;
        padding: 20px;
        
    }
    .bgag p {
        font-size: 1em;
        padding: 0 10px;

    }
    #images img { 
        width: 180px;
        height: 180px;
    } 
    #logo {
        display: flex;
        flex-direction: row;
        max-width: 1070px;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }
    #logos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1042px;
        padding-top: 35px;
        justify-content: center;
        margin: auto;
        gap: 10px;
        align-items: center;
    }
    #logos .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
    }
    #logo img {
        object-fit: contain;
        
    }
    #img3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer1 {
        display: flex;
    }

    .col { width: 33.33%;}
    #row {
        display: flex;
        gap:83px;
        margin: auto;
    }
    #input {
        display: flex;
        flex-direction: column;
    }

    .ft2 {
        display: flex;
        justify-content: space-between;
        max-width: 980px;
        margin: auto;
    }
}
